/* Custom page header */
.header 
  height: 39px
  margin: 0
  border-bottom: 1px solid rgba(0, 0, 0, .1)
  h3
    margin-top: 0
    .logo
      font-weight: 600
      letter-spacing: -1px
      color: $joy-color
      padding-left: 15px
      margin-top: 0
      margin-bottom: 0
      &:hover
        text-decoration: none

/* Custom nav elements */
.nav 
  margin-top: -5px
  padding-right: 10px
  &.nav-plain-light
    li 
      font-size: 0.9em
      float: left
      .nav-register-btn
        color: #00b6eb
        padding: 4px 10px
        margin: 3px 0 0 15px
        border-color: #00b6eb
        &.btn-default:hover,
        &.btn-default:focus,
        &.btn-default:active
          color: #008ebc
          border-color: #008ebc
          background-color: transparent
      .nav-signin-btn
        @extend .nav-register-btn
        color: #ccc
        border-color: #ccc
        margin-right: 10px
        &.btn-default:hover,
        &.btn-default:focus,
        &.btn-default:active
          color: #aaa
          border-color: #aaa
      .v-divider
        height: 100%
        border-right: 1px solid $outline-color
        padding: 4px 0 4px 10px
        margin: 5px 0 0 0
      .my-account
        color: #00b6eb
        padding-right: 0
        &:hover, &:focus, &:active
          color: #008ebc        
      .logout
        color: #00b6eb
        padding-left: 13px
        &:hover, &:focus, &:active
          color: #008ebc        
      > a
        color: #d5d5d5
        background-color: transparent
        padding: 10px 10px
        &:focus, &:hover 
          color: #b5b5b5
          background-color: transparent
        &.active
          color: #000
  &.nav-plain-home
    @extend .nav-plain-light
    li
      > a
        color: #bbb
        &:focus, &:hover 
          color: #999

/* Add custom button style */
.round-btn
  @extend .btn
  border-radius: 20px

