.signup
	margin: 40px 0
	.signup-section
		padding: 0 30px
	h3
		margin: 20px 0
	.form-control
		float: none
		display: inline-block
		width: 75%
		margin: 5px 0
		height: 40px
		font-size: 1.1em
		&:focus
			outline-color: #00b6eb
			box-shadow: 0 0 2px #5CDAFF
	.signup-btn
		margin: 10px 0 0 0
	.error-msg
		vertical-align: top
		float: none
		display: inline-block
		margin: 2px 0 7px 0
		padding: 9px 12px
		border-radius: 4px
		border: 1px solid #ebccd1
		color: #a94442
		background-color: #f2dede
	.register-msg
		margin-right: 25px

.signin-section
	border: 1px solid #eaeaea
	padding: 10px 30px 0 30px
	margin-top: 20px
	h4
		margin: 15px 0
		font-size: 1.5em
		line-height: 1.4em
		color: #999

@media(max-width:767px)
	.signup
		.form-control
			width: 100%