// bower:scss
@import ../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss
// endbower

// custom variables
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/"
$joy-color: #c41230

// imports
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap'
@import 'compass/css3'
@import 'eventsview'
@import 'eventview'
@import 'addevent'
@import 'nav'
@import 'signup'
@import 'signin'
@import 'loginbox'
@import 'home'
@import 'myaccount'
@import 'resetpassword'
@import 'changepassword'
@import 'aboutus'
@import 'contactus'

/* reset empty href to make Angular UI Bootstrap work properly */
.nav, .pagination, .carousel, .panel-title a
  cursor: pointer

html, body
  width: auto
  overflow-x: hidden

/* Custom body */
body 
  font-family: 'Whitney SSm A', 'Whitney SSm B'
  font-weight: 400
  font-style: normal
  padding: 0
  margin: 0
  h1, h2, h3, h4
    font-weight: 500

/* Custom container */
.container 
  margin: 0 auto
  padding: 0

/* Custom progress bar */
.progress
  margin: 15px 0 10px 0
  height: 12px

.progress-bar-line
  background-color: transparent
  border-right: 2px solid #e00000
  box-shadow: none  

/* Custom ng-s3Upload*/
.upload-wrap
  margin-bottom: 15px
  a:hover
    text-decoration: none
  .btn
    float: none
    display: inline-block
  .progress
    height: 20px
  .progress-bar
    font-size: 0.6em

