<div class="container">

	<div class="row about-joylister">
		<div class="col-md-8">
			<h3>Discover unique, innovative events for true foodies.</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique arcu magna, sit amet consectetur tortor volutpat a. Sed consequat scelerisque nibh, quis euismod enim aliquam id. Aliquam quis tincidunt justo, id scelerisque turpis.</p>
			<p>Donec vitae odio a urna aliquet faucibus eu sed odio. Mauris dui nisl, pulvinar ac tincidunt posuere, venenatis ut urna. Phasellus ut lorem at tortor ornare aliquet in ac urna. Praesent ante elit, vehicula ac facilisis in, pellentesque mattis magna. Nunc gravida turpis commodo, ultricies mauris malesuada, faucibus felis. </p>
		</div>
		<div class="col-md-4">
			<div class="signup-box">
				<p>Sign up now to enjoy exclusive access to innovative foodie events.</p>
				<a class="btn btn-primary btn-lg signup-btn">Sign Me Up!</a>
			</div>
		</div>
	</div>

	<div class="row about-us">
		<div class="col-md-4">
			<div class="cofounder-avatar">
				<img ng-src="images/profile_photo.jpg">
			</div>
			<div class="cofounder-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique arcu magna, sit amet consectetur tortor volutpat a.</p>
			</div>
			<div class="visible-xs">&nbsp;</div>
		</div>
		<div class="col-md-4">
			<div class="cofounder-avatar">
				<img ng-src="images/profile_photo.jpg">
			</div>
			<div class="cofounder-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique arcu magna, sit amet consectetur tortor volutpat a.</p>
			</div>
			<div class="visible-xs">&nbsp;</div>
		</div>
		<div class="col-md-4">
			<div class="cofounder-avatar">
				<img ng-src="images/profile_photo.jpg">
			</div>
			<div class="cofounder-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique arcu magna, sit amet consectetur tortor volutpat a.</p>
			</div>
			<div class="visible-xs">&nbsp;</div>
		</div>
	</div>

</div>
