<div class="row change-password">
	<div class="col-md-4">
		<!-- empty margin -->
	</div>
	<div class="col-md-4">
		<div class="change-password-box">
			<h3>Update Password</h3>
				<div class="row change-password-content">
					<form ng-submit="changePassword()">
						<input type="email" name="userEmail" class="form-control" placeholder="Email" ng-model="user.email">
						<label>Old password</label>
						<input type="password" name="userOldPassword" class="form-control" placeholder="Enter old password" ng-model="user.oldPassword">
						<label>New password</label>
						<input type="password" name="userNewPassword" class="form-control" placeholder="Enter new password" ng-model="user.newPassword">
						<input type="submit" value="Update Password" class="btn btn-warning change-password-btn">
					</form>
					<!-- success & error message handling -->
					<alert type="success" ng-if="passwordChange.successMsg" class="change-password-msg">Password updated successfully!</alert>
					<alert type="danger" ng-if="passwordChange.errorMsg" class="change-password-msg">Your email or password is incorrect.</alert>
					<alert type="warning" ng-if="passwordChange.loadingMsg" class="change-password-msg">Sending...</alert>

				</div>
		</div>
	</div>
	<div class="col-md-4">
		<!-- empty margin -->
	</div>
</div>
