<a class="event-wrapper" ng-href="#/events/{{ eventId }}">
	<div class="event-thumb-container">
		<img ng-src="{{ event.thumbUrl }}" ng-if="!eventboxAsPreview()"> 
		<div class="price">${{ event.ticketPrice }}</div>
	</div>
	<div class="event-box">
		<div class="event-text">
			<div><h3>{{ event.name }}</h3></div>
			<div class="vendor-text">By {{ event.vendor }}</div>
			<div>{{ event.summary }}</div>
		</div>
		<div class="event-details">
			<table>
				<tr>
					<td><!-- empty cell for greater top margin --></td>
					<td><!-- empty cell for greater top margin --></td>
				</tr>
				<tr>
					<td>Date:</td>
					<td>{{ event.closestDate | date: 'MMM d, y (EEE)' }}</td>
				</tr>
				<tr>
					<td>Place:</td>
					<td>{{ event.area }}</td>
				</tr>
			</table>
		</div>

		<progress>
			<bar ng-if="event.closestDateCurrentQty !== event.maxQuantity" class="progress-bar-success" value="event.closestDateCurrentQty/event.maxQuantity*100"></bar>
			<bar ng-if="event.closestDateCurrentQty === event.maxQuantity" class="progress-bar-danger" value="event.closestDateCurrentQty/event.maxQuantity*100"></bar>
			<bar class="progress-bar-line" value="(event.minQuantity - event.closestDateCurrentQty)/event.maxQuantity*100" ng-if="event.closestDateCurrentQty < event.minQuantity"></bar>
		</progress>

		<div class="tipping-point-msg">
			<div ng-if="event.closestDateCurrentQty < event.minQuantity">{{ event.minQuantity - event.closestDateCurrentQty }} more ticket(s) to activate this event</div>
			<div ng-if="event.closestDateCurrentQty >= event.minQuantity && event.closestDateCurrentQty !== event.maxQuantity">This event is activated!</div>			
			<div ng-if="event.closestDateCurrentQty === event.maxQuantity">SOLD OUT!</div>
		</div>
	</div>
</a>
