<div class="container">
	<div class="row eventview-header">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h2>{{ event.name }}</h2>
			<hr>
			<p class="eventview-vendor">By {{ event.vendor }}</p>
		</div>
	</div>

	<div class="row eventview-feature">
		<div class="col-sm-8 col-md-8 col-lg-8">
			<!-- main image -->
			<img ng-src="{{ event.images.featureImageUrl1 }}" class="main-image">
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
			<!-- small images -->	
			<img ng-src="{{ event.images.sideImageUrl1 }}" class="side-image hidden-xs">
			<img ng-src="{{ event.images.sideImageUrl2 }}" class="side-image hidden-xs">
		</div>
	</div>

	<div class="row eventview-content">
		<div class="col-sm-8 col-md-8 col-lg-8">
			<!-- content goes here -->
			<h3>{{ event.headline }}</h3>
			<!-- use ng-bind-html instead of {{ }} because event.desc contains html tags -->
			<div ng-bind-html="event.desc" class="text"></div> 
			<div>&nbsp;</div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
			<!-- booking box -->
			<div class="booking-box">
				<h4>Book This Event</h4>
				<div class="booking-price">${{ event.ticketPrice | number:0 }}</div>
				<div>per person + HST</div>
				<form class="form-inline" ng-if="!soldout">
					<div class="form-group">
						<table>
							<tr>
								<td>Date:</td>
								<td><select class="form-control" ng-model="formData.date" ng-options="num for num in datesList"></select></td>
							</tr>
							<tr>
								<td>Qty:</td>
								<td><select class="form-control" ng-model="formData.buyQuantity" ng-options="num for num in buyQuantityList"></select></td>
							</tr>
						</table>
					</div>
				</form>
				<a class="btn btn-primary btn-lg btn-block" ng-click="openCheckout()" ng-if="!soldout">Book It Now</a>
				<button disabled class="btn btn-danger btn-lg btn-block" ng-click="openCheckout()" ng-if="soldout">Sold Out!</button>
				<a ng-if="!eventAlreadyExists" class="btn btn-default btn-lg btn-block" ng-click="addToWishlist()"><i class="fa fa-heart"></i> Add to Wishlist</a>
				<a ng-if="eventAlreadyExists" class="btn btn-default btn-lg btn-block disabled"><span class="glyphicon glyphicon-heart"></span> Added to Wishlist</a>

				<!-- error message handling -->
				<alert type="success" ng-if="addToWishlistSuccessMsg" class="alert-msg">Event added to Wishlist!</alert>
				<alert type="danger" ng-if="addToWishlistErrorMsg" class="alert-msg">Could not add this event to Wishlist</alert>
			</div>

			<!-- event details -->
			<div class="detail-box">
				<h4>Event Details</h4>
				<table>
					<tr>
						<td>Date:</td>
						<td>{{ formData.date | date:'EEE, MMM d, yyyy' }}</td>
					</tr>
					<tr>
						<td>Time:</td>
						<td>{{ eventTime }}</td>
					</tr>
					<tr>
						<td>Area:</td>
						<td>{{ event.area }}</td>
					</tr>
					<tr>
						<td>Address:</td>
						<td>{{ event.address }}</td>
					</tr>
				</table>
			</div>

		</div>
	</div>
</div>