<div class="row events">
	<div class="col-sm-4 col-lg-3 event-container">
		<div class="event-box">
			<div class="event-thumb-container">
				<div>Picture</div>
			</div>
			<div class="event-text">
				<div><h3>Title</h3></div>
				<div>Desc - limited to x char</div>
			</div>
			<div class="event-details">
				<table>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Date:</td>
						<td>Dec 23, 2014</td>
					</tr>
					<tr>
						<td>Place:</td>
						<td>Missisauga</td>
					</tr>
				</table>
			</div>
			<div class="progress">
			  <div class="progress-bar progress-bar-success" style="width: 35%">
			    <span class="sr-only">35% Complete (success)</span>
			  </div>
			  <div class="progress-bar progress-bar-warning" style="width: 20%">
			    <span class="sr-only">20% Complete (warning)</span>
			  </div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-lg-3 event-container">
		<div class="event-box">
			<div class="event-thumb">
				<div>Picture</div>
			</div>
			<div class="event-text">
				<div>Title</div>
				<div>Desc - limited to x char</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-lg-3 event-container">
		<div class="event-box">
			<div class="event-thumb">
				<div>Picture</div>
			</div>
			<div class="event-text">
				<div>Title</div>
				<div>Desc - limited to x char</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-lg-3 event-container">
		<div class="event-box">
			<div class="event-thumb">
				<div>Picture</div>
			</div>
			<div class="event-text">
				<div>Title</div>
				<div>Desc - limited to x char</div>
			</div>
		</div>
	</div>

</div>