<!-- feature area -->
<div class="container-fluid home">

	<div class="row feature">
		<div class="col-md-1 col-sm-1">
			<!-- empty margin -->
		</div>
		<div class="col-md-4 col-sm-5">
			<div class="feature-text">
				<h3 class="visible-xs"><a ng-href="#/home" class="logo">Joylister</a></h3>
				<h3>Exclusive Events<br>for Foodies</h3>
				<hr>
				<p>Discover unique, innovative events<br>exclusive to Joylister members.</p>
				<a ng-show="!userSignedIn" class="btn btn-success btn-md" ng-href="#/signup">Sign Me Up</a>
				<a class="btn btn-default btn-md" ng-href="#/events">Explore Events</a>
			</div>
		</div>
	</div>

</div>