<div class="container">
	<div class="row myaccount">

		<div class="row myprofile">

			<div class="col-md-3">
				<div class="avatar">
					<img ng-if="!user.avatarUrl" ng-src="https://s3.amazonaws.com/joylister-media/avatars/defaultAvatar.jpg">
					<img ng-if="user.avatarUrl" ng-src="{{ user.avatarUrl }}">								
				</div>
			</div>
			<div class="col-md-6">
				<div class="myinfo">
					<div class="visible-xs">&nbsp;</div>

					<div class="name" ng-if="!editProfile.showNameEdit">
						<h3>{{ user.firstname }} {{ user.lastname }}</h3>
						<div class="edit" ng-click="editProfile.showNameEdit = true">Edit</div>
					</div>
					<!-- only show when edit is clicked -->
					<div class="nameEdit" ng-if="editProfile.showNameEdit">
						<form ng-submit="submitNameEdit()">
							<div class="form-group">
								<input class="form-control form-edit" type="text" placeholder="First name" ng-model="editProfile.firstName" required>
								<input class="form-control form-edit" type="text" placeholder="Last name" ng-model="editProfile.lastName" required>
								<button class="btn btn-warning btn-edit" type="submit">Submit</button>
								<button class="btn btn-danger btn-edit" ng-click="editProfile.showNameEdit = false">Cancel</button>
							</div>
						</form>
					</div>
					
					<div class="email" ng-if="!editProfile.showEmailEdit">
						<div class="text">{{ user.email }}</div>
						<div class="edit" ng-click="editProfile.showEmailEdit = true">Edit</div>
					</div>
					<!-- only show when edit is clicked -->
					<div class="emailEdit" ng-if="editProfile.showEmailEdit">
						<form ng-submit="submitEmailEdit()">
							<div class="form-group">
								<input class="form-control form-edit-email" type="email" placeholder="Email" ng-model="editProfile.email" required>
								<button type="submit" class="btn btn-warning btn-edit">Submit</button>
								<button class="btn btn-danger btn-edit" ng-click="editProfile.showEmailEdit = false">Cancel</button>
							</div>
						</form>
					</div>

					<div>
						<a class="btn btn-default btn-reset-password" ng-href="#/changepassword">Change Password</a>
					</div>

					<div s3-upload bucket="joylister-media" btn-text="Update Avatar" ng-model="avatarUrl" success-callback="addAvatarToFirebase()" s3-upload-options="{getOptionsUri: 'http://localhost:8000/s3credentials', folder: 'avatars/'}"></div>
				</div>

			</div>

		</div>
	</div>

	<div class="wishlist-wrapper">
		<div class="row wishlist">
			<div class="heading">
				<i class="fa fa-heart fa-2x"></i><h3>My Wishlist</h3>
			</div>

			<div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="(wishlistItemId, wishlistItem) in wishlist">
				<a class="wishlist-item-wrapper" ng-href="#/events/{{ wishlistItemId }}">

					<div class="wishlist-item-pic">
						<div class="remove-wishlist-item" ng-click="removeWishlistItem(wishlistItemId, $event)" tooltip="Remove from Wishlist" tooltip-placement="top"><i class="fa fa-times"></i></div>
						<img ng-src="{{ events[wishlistItemId].thumbUrl }}" class="thumb">
						<div class="price">${{ events[wishlistItemId].ticketPrice }}</div>
					</div>

					<div class="wishlist-item-content">

						<div><h3>{{ events[wishlistItemId].name }}</h3></div>
						<div class="vendor-text">By {{ events[wishlistItemId].vendor }}</div>

						<div class="wishlist-item-details">
							<table>
								<tr>
									<td>Date:</td>
									<td>{{ events[wishlistItemId].closestDate | date: 'MMM d, y (EEE)' }}</td>
								</tr>
								<tr>
									<td>Place:</td>
									<td>{{ events[wishlistItemId].area }}</td>
								</tr>
							</table>
						</div>

					</div>

				</a>
			</div>
		</div>
	</div>

	<div class="attended-events-wrapper">
		<div class="row attended-events">
			<div class="heading">
				<i class="fa fa-check fa-2x"></i><h3>Purchased Events</h3>
			</div>

			<div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="(purchaseId, purchase) in purchases">
				<div class="wishlist-item-wrapper">

					<div class="wishlist-item-pic">
						<img ng-src="{{ events[purchaseId].thumbUrl }}" class="thumb">
						<div class="price">${{ events[purchaseId].ticketPrice }}</div>
					</div>

					<div class="wishlist-item-content">

						<div><h3>{{ events[purchaseId].name }}</h3></div>
						<div class="vendor-text">By {{ events[purchaseId].vendor }}</div>

						<div class="wishlist-item-details">
							<table>
								<tr>
									<td>Place:</td>
									<td>{{ events[purchaseId].area }}</td>
								</tr>
							</table>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>

</div>

