<div class="container-fluid">
	<div class="row reset-password">
		<div class="col-md-4">
			<!-- empty margin -->
		</div>
		<div class="col-md-4">
			<div class="reset-password-box">
				<h3>Forgot password?</h3>
					<div class="row reset-password-content">
						<form ng-submit="sendPasswordResetEmail()">
							<input type="email" name="userEmail" class="form-control" placeholder="Email" ng-model="user.email" required>
							<input type="submit" value="Send Password Reset Link" class="btn btn-warning reset-password-btn">
						</form>
						<!-- success & error message handling -->
						<alert type="success" ng-if="passwordReset.successMsg" class="reset-password-msg">Email sent.</alert>
						<alert type="danger" ng-if="passwordReset.errorMsg" class="reset-password-msg">Password reset email failed to send. Please try again.</alert>
						<alert type="warning" ng-if="passwordReset.sendingMsg" class="reset-password-msg"><i class="fa fa-spinner fa-spin"></i>&nbsp;Sending...</alert>

					</div>
			</div>
		</div>
		<div class="col-md-4">
			<!-- empty margin -->
		</div>
	</div>
</div>