<div class="row reset-password">
	<div class="col-md-4">
		<!-- empty margin -->
	</div>
	<div class="col-md-4">
		<div class="reset-password-box">
			<h3>Forgot password?</h3>
				<div class="row reset-password-content">
					<form ng-submit="sendPasswordResetEmail()">
						<input type="email" name="userEmail" class="form-control" placeholder="Email" ng-model="user.email">
						<input type="submit" value="Send Password Reset Link" class="btn btn-warning reset-password-btn">
					</form>
					<!-- success & error message handling -->
					<alert type="success" ng-if="resetPassword.successMsg" class="reset-password-msg">Email sent.</alert>
					<alert type="danger" ng-if="resetPassword.errorMsg" class="reset-password-msg">Password reset email failed to send. Please try again.</alert>
					<alert type="warning" ng-if="resetPassword.sendingMsg" class="reset-password-msg">Sending...</alert>

				</div>
		</div>
	</div>
	<div class="col-md-4">
		<!-- empty margin -->
	</div>
</div>
